@model IEnumerable<BLLGateway.DTOModels.OrderDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumPurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sumShipping)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shippedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sumShipping)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
