@model BLLGateway.DTOModels.CustomerDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details a customer</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryAddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryAddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invoiceAddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoiceAddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
