@model MVC_DGHAdmin.Models.ProductViewModels
@{
    ViewBag.Title = "ClientIndex";
}

<h2>ClientIndex</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.productNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.salesPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.imageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.products)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesPrice)
            </td>
            @foreach (var itemC in Model.categories)
            {
                if (itemC.id == item.categoryId)
                {
                    <td>
                        @Html.DisplayFor(modelItem => itemC.categoryName)
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.imageUrl)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.active)
            </td>
        </tr>
    }

</table>
