@model BLLGateway.DTOModels.ProductDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
    <h4>@Model.name</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add to shopping cart", "Add", "ShoppingCart", new { id = Model.id }, new { style = "font-family:verdana; font-size:150%; " }) |
    @Html.ActionLink("Back to List", "Index")
</p>
