@model  MVC_DGHAdmin.Models.OrderViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Customer.FirstOrDefault(x => x.id == model.Order.CustomerId).firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstOrDefault(x => x.id == model.Order.CustomerId).firstName)
        </dd>
        
        <dt>
            @Html.DisplayFor(model => model.Customer.FirstOrDefault(x => x.id == model.Order.CustomerId).lastName)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Customer.FirstOrDefault(x => x.id == model.Order.CustomerId).lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.SumPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.SumPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Shipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Shipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.sumShipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.sumShipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.shippedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.shippedDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Order.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
