@model MVC_DGHAdmin.Models.OrderModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Items Price")
        </th>
        <th>
            @Html.DisplayName("Shipping Price")
        </th>
        <th>
            @Html.DisplayName("Total Price")
        </th>
        <th>
            @Html.DisplayName("Order Date")
        </th>
        <th>
            @Html.DisplayName("Shipped Date")
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model.order) {
    <tr>
        <td>
            @foreach (var customerId in Model.customer.Where(customerId => item.CustomerId == customerId.id))
            {
                <text>@customerId.firstName</text>
                Html.DisplayText(customerId.firstName + " " + customerId.lastName);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sumShipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shippedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
