@model IEnumerable<MVC_DGHAdmin.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Display("Name")
        </th>
        <th>
            @Html.Display("Items Price")
        </th>
        <th>
            @Html.Display("Shipping Price")
        </th>
        <th>
            @Html.Display("Total Price")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.shippedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.firstName + " " + item.customer.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.SumPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.Shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.sumShipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.shippedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order.id })
        </td>
    </tr>
}

</table>
