@model MVC_DGHAdmin.Models.OrderLineViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderLineDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderLine.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderLine.id)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Product.FirstOrDefault(x => x.id == model.OrderLine.ProductId).name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.FirstOrDefault(x => x.id == model.OrderLine.ProductId).name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.FirstOrDefault(x => x.id == model.OrderLine.ProductId).salesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.FirstOrDefault(x => x.id == model.OrderLine.ProductId).salesPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderLine.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderLine.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderLine.LineTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderLine.LineTotal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderLine.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
